@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
   --color-bg: #F9FAFB;
   --color-button: #3B82F6;
   --color-logo: #3B82F6;
   --color-strong: #41a3ff;

   --font-padrao: 'Poppins', sans-serif;

   font-size: 16px;
}

button {
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   font-family: var(--font-padrao);
   font-size: .9rem;
   font-weight: 600;
   cursor: pointer;
   transition: all .3s;
}
button:hover {
   transform: scale(105%);
   transition: all .3s;
}
button.login {
   background-color: transparent;
   border: 1px solid #272525;
}
button.get-started {
   background-color: var(--color-button);
   color: white;
}